<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Resume maker</title>
    <style>
        .answer {
            display: none;
        }
    </style>
    <script src="{% static 'js/js_file.js' %}"></script>
</head>
<body>
<h1>Dynamic Resume Form</h1>
<form>
    <label for="user_input"></label>
    <p id="user_input">{{ user_input }}</p>
    <br>
    <input type="button" value="Submit" onclick="showAnswer()">
</form>
<div id="answer" class="answer"></div>

</body>
</html>